@font-face { 
	font-family: "PT Sans Narrow"; 
	src: url("../fonts/ptsansnarrow.woff2") format("woff2"), 
		 url("../fonts/ptsansnarrow.woff") format("woff");
}

@font-face { 
	font-family: "PT Sans Narrow"; 
	src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), 
		 url("../fonts/ptsansnarrowbold.woff") format("woff");
		 font-weight: bold;
}

body {
	font-family: "PT Sans Narrow", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

* {
	margin: 0; padding: 0;
}

h1 {
	font-size: 30px;
	line-height: 42px;
	color: #000000;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
}

.main-header {
	background-color: #000000;
	height: 70px;
	margin-bottom: 60px;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	background-color: yellowgreen;
}

.main-nav {
	background-color: red;
	padding-top: 25px;
}

.nav-logo {
	display: inline-block;
	background-color: yellow;
	vertical-align: middle;
	margin-left: 30px;
}

.nav-base {
	display: inline-block;
}

.main-nav li {
	display: inline-block;
	background-color: blue;
	margin-left: 40px;
}

.login {
	display: inline-block;
	background-color: green;
	margin-left: 150px;
}

a {
	text-decoration: none;
}

.main-nav a {
	color: #ffffff;
}

.content {
	background-image: url(../img/fon.jpg);
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.content-top {
	background-color: red;
	margin-bottom: 60px;
}

.breadcrumbs {
	background-color: blue;
	margin-top: 20px;
}

.breadcrumbs li {
	display: inline-block;
	background-color: green;
	margin-right: 15px;
}

.breadcrumbs li:before {
	content: url(../img/rhomb.png);
	margin-right: 15px;
}

.breadcrumbs li:first-child:before {
	content: "";
	margin-right: 0px;
}

.sidebar-form {
	background-color: yellow;
	float: left;
	width: 220px;
}

.makers {
	margin-top: 30px;
	margin-bottom: 35px;
}

.group-items {
	margin-top: 35px;
}

.content-catalog {
	background-color: red;
	float: right;
	width: 720px;
	font-size: 0;
}

.sidebar-maker {
	background-color: orange;
}

label {
	display: block;
	margin-bottom: 15px;
}

.sidebar-group-items {
	background-color: salmon;
}

.sidebar-btn button {
	width: 110px;
	height: 40px;
	background-color: #000000;
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 35px;
	border: none;
}

.sidebar-btn {
	background-color: red;
}

.item {
	display: inline-block;
	background-color: yellowgreen; 
	margin: 10px;
	margin-top: 0;
	font-size: 14px;
	line-height: 18px;
}

.item-info .item-price {
	margin-top: 15px;

}

.item-info {
	padding: 15px;
}

.catalog-bottom {
	font-size: 14px;
	line-height: 18px;
	margin-left: 10px;
	margin-bottom: 50px;
}
.catalog-bottom li {
	display: inline-block;
	list-style: none;
	margin-top: 30px;
}

.catalog-btn {
	width: 40px;
	height: 30px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	padding-top: 10px;
}

.catalog-btn a {
	color: #ffffff;
}

.gallery {
	float: left;
	width: 470px;
	background-color: olivedrab;
	font-size: 0;
}

.gallery-previews-item {
	display: inline-block;
	margin: 10px;
}

.gallery-previews-item:first-child {
	margin-left: 0px;
}

.gallery-previews-item:last-child {
	margin-right: 0px;
}

.description-wrapper {
	float: right;
	width: 400px;
	background-color: coral;
}

.description-stock {
	margin-right: 150px;
}

.description-text {
	margin: 40px 0;
}

.item-price {
	width: 185px;
	font-size: 0;
}

.description-consist .item-price {
	margin-bottom: 70px;
}

.btn {
	display: inline-block;
	height: 30px;
	padding-top: 10px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}

.price-btn {
	width: 110px;
	background-color: #e5e5e5;
}

.buy-btn {
	width: 75px;
	background-color: #000000;
	text-decoration: none;
	color: #ffffff;
}

.consist-listing {
	margin-top: 40px;
}

.consist-listing li {
	list-style: none;
	padding-bottom: 15px;
}

.consist-listing li:before {
	content: url(../img/rhomb.png);
	padding-right: 10px;
}

.main-footer {
	background-image: url(../img/fon-footer.png);
	padding-bottom: 35px;
	padding-top: 60px;
}

.footer-contacts {
	float: left;
	background-color: skyblue;
}

.footer-social {
	float: left;
	background-color: skyblue;
	text-align: center;
	margin-left: 130px;
}

.social-btn {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-top: 15px;
	background: #000000 center no-repeat;
}

.social-btn-vk {
	background-image: url("../img/social-vk.png");
}

.social-btn-fb {
	background-image: url("../img/social-fb.png");
}

.social-btn-inst {
	background-image: url("../img/social-insta.png");
}

.footer-copyright {
	float: right;
	background-color: skyblue;
	text-align: center;
}

.footer-contacts a {
	text-decoration: underline;
}

.logo-html {
	width: 140px;
	background-color: #000000;
	color: #ffffff;
	margin-top: 15px;
}