@font-face { 
	font-family: "PT Sans Narrow"; 
	src: local("PT Sans Narrow"),
		 url("../fonts/ptsansnarrow.woff2") format("woff2"), 
		 url("../fonts/ptsansnarrow.woff") format("woff");
}

@font-face { 
	font-family: "PT Sans Narrow"; 
	src: local("PT Sans Narrow"),
		 url("../fonts/ptsansnarrowbold.woff2") format("woff2"), 
		 url("../fonts/ptsansnarrowbold.woff") format("woff");
	font-weight: bold;
}

body {
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.main-header {
	background-color: #000000;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.main-nav {
	padding-top: 24px;
	padding-bottom: 28px;
	font-size: 0;	
}

.nav-logo {
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
}

.nav-base {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li:hover {
	width: 100px;
	height: 100%;
	background-color: #242424;
}

.main-nav a {
	color: #ffffff;
	text-decoration: none;
}

.login {
	display: inline-block;
	vertical-align: middle;
	margin-left: 150px;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
}

.content {
	background: #ffffff url("../img/fon.jpg");
	padding-top: 60px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.content-top {
	margin-bottom: 60px;
}

.content-top h1 {
	margin: 0;
	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {
	margin-top: 20px;
	font-size: 0;
}

.breadcrumbs ul {
	padding: 0;
}

.breadcrumbs li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	font-size: 14px;
	line-height: 20px;
}

.breadcrumbs .active {
	color: #aba9a7;
}

.breadcrumbs li:before {
	content: url(../img/rhomb.png);
	margin-right: 15px;
}

.breadcrumbs li:first-child:before {
	content: "";
	margin-right: 0px;
}

.breadcrumbs a {
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	line-height: 20px;
}

.sidebar-form {
	float: left;
	width: 220px;
}


.sidebar-form label {
	display: block;
	margin-bottom: 15px;
}

.sidebar-form h2 {
	margin: 0;
	font-size: 24px;
	line-height: 30px;
}

.sidebar-form span {
	font-size: 14px;
	line-height: 18px;
}

.sidebar-form span:hover {
	color: #663d15;
	cursor: pointer;
}

.makers {
	margin-top: 30px;
	margin-bottom: 35px;
	font-size: 0;
}

.makers input[type="checkbox"] {
	display: none;
}

.makers label>input[type="checkbox"] + span::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url("../img/chek-.png") no-repeat;
	padding-left: 23px;
}

.makers label>input[type="checkbox"]:checked + span::before {
	background-image: url("../img/chek.png");
}

.group-items {
	margin-top: 35px;
	font-size: 0;
}

.group-items input[type="radio"] {
	display: none;
}

.group-items label>input[type="radio"] + span::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url("../img/radio.png") no-repeat;
	padding-left: 23px;
}

.group-items label>input[type="radio"]:checked + span::before {
	background: url("../img/radio-chek.png") no-repeat;
}

.sidebar-btn button {
	width: 110px;
	height: 40px;
	background-color: #000000;
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	margin-top: 35px;
	border: none;
}

.sidebar-btn button:hover,
.sidebar-btn button:active {
	background-color: #663d15;
	cursor: pointer;
}

.content-catalog {
	float: right;
	width: 720px;
	font-size: 0;
}

.item {
	display: inline-block;
	vertical-align: middle;
	background-color: #f7f7f7;
	box-shadow: 0 0 5px -2px;
	margin: 0 10px 20px 10px;
	font-size: 14px;
	line-height: 18px;
}

.item-foto {
	margin: 0;
}

.item-info .item-price {
	margin-top: 15px;
}

.item-info {
	padding: 15px;
	text-align: center;
}

.item-info a {
	text-decoration: none;
	color: #000000;
}

.item-info p {
	margin: 0;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}

.price-btn {
	width: 110px;
	background-color: #e5e5e5;
	padding: 10px 0;
}

.buy-btn {
	width: 75px;
	background-color: #000000;
	padding: 10px 0;
}

.buy-btn:hover,
.buy-btn:active {
	background-color: #663d15;
}

.item-price a {
	text-decoration: none;
	color: #ffffff;
}

.catalog-bottom {
	font-size: 14px;
	line-height: 18px;
	margin-left: 10px;
	margin-bottom: 50px;
}

.catalog-bottom ul {
	padding: 0;
	margin: 0;
}

.catalog-bottom li {
	display: inline-block;
	list-style: none;
	margin-top: 25px;
}

.catalog-btn {
	width: 40px;
	height: 30px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	padding-top: 10px;
}

.catalog-btn:hover,
.catalog-btn:active {
	background-color: #663d15;
}

.catalog-btn a {
	display: block;
	width: 40px;
	height: 30px;
	text-decoration: none;
	color: #ffffff;
}

.catalog-bottom a:hover,
.catalog-bottom a:active {
	background-color: #663d15;
}

.btn-active {
	background-color: #ffffff;
	color: #000000;
}

.gallery {
	float: left;
	width: 470px;
	font-size: 0;
}

.gallery-previews-item {
	display: inline-block;
	margin: 10px;
}

.gallery-previews-item:first-child {
	margin-left: 0px;
}

.gallery-previews-item:last-child {
	margin-right: 0px;
}

.description-wrapper {
	float: right;
	width: 400px;
}

.description-stock {
	margin-right: 150px;
}

.description-text {
	margin: 40px 0;
}

.item-price {
	width: 185px;
	font-size: 0;
}

.description-consist .item-price {
	margin-bottom: 70px;
}

.consist-listing {
	margin-top: 40px;
}

.consist-listing li {
	list-style: none;
	padding-bottom: 15px;
}

.consist-listing li:before {
	content: url("../img/rhomb.png");
	padding-right: 10px;
}

.main-footer {
	width: 100%;
	background: url("../img/fon-footer.png") no-repeat;
	padding-bottom: 35px;
	padding-top: 60px;
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;
}

.footer-contacts {
	float: left;
}

.footer-social {
	float: left;
	text-align: center;
	margin-left: 130px;
}

.social-btn {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-top: 15px;
	background: #000000 center no-repeat;
}

.social-btn-vk {
	background-image: url("../img/social-vk.png");
}

.social-btn-fb {
	background-image: url("../img/social-fb.png");
}

.social-btn-inst {
	background-image: url("../img/social-insta.png");
}

.footer-copyright {
	float: right;
	text-align: center;
}

.footer-contacts a {
	text-decoration: underline;
	color: #ffffff;
}

.logo-html {
	width: 140px;
	background-color: #000000;
	color: #ffffff;
	margin-top: 15px;
}